---
title: Become an international volunteer with SupEducation non-profit organization
heading: Become an international volunteer with SupEducation non-profit organization
subtitle: >-
  Join the team in SupEducation and help out in our community. There must be a mission according to your skills and your aspirations.
  <p><a class="button alt" href="https://forms.gle/rcgyByWhq8tL1Gmu5">Sign up for free</a></p>
---

<section class="diagonal patterned">
  <div class="container">
    <h3>Presentation of the structure of the association</h3>
    <p>The association is divided into 4 departments:</p>
    <ul>
      <li>Administrative department</li>
      <li>Communication department</li>
      <li>Integration department</li>
      <li>Educational department</li>
    </ul>
    <p>The association is governed by the Board of Directors which has 5 members elected by vote at the General Assembly.</p>

    <p>The communication, integration and educational department welcome volunteers in their teams:</p>
    <p><b>Educational department :</b></p>
    <ul>
      <li>French Corners team</li>
      <li>Educational Content team</li>
    </ul>
    <p><b>Integration department :</b></p>
    <ul>
      <li>Welcome team</li>
      <li>Technical Support Team</li>
      <li>Moderators team</li>
    </ul>
    <p><b>Communication department</b></p>
    <ul>  
      <li>Conquest team</li>
      <li>Design team</li>
      <li>Media team</li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3>Educational department</h3>
    <p>The educational department is divided into 3 teams.</p>
    <p><b>French Corners team</b></p>
    <ul>
      <li>Organize French Corners for advanced students on Google Meet</li>
      <li>Organize French Corners for intermediate students on Google Meet</li>
      <li>Organize French Corners for beginners in Arabic on Google Meet</li>
      <li>Organize French Corners for beginners in English on Google Meet</li>
      <li>Organize French Corners for beginners in Spanish on Google Meet</li>
    </ul>
    <p><b>Educational Content team</b></p>
    <ul>  
      <li>Prepare courses on Google Docs</li>
      <li>Prepare educational content for social media on Airtable</li>
    </ul>
  </div>
</section>

<section class="diagonal patterned">
  <div class="container">
    <h3>Communication department</h3>
    <p>The communication department is divided into 3 teams.</p>
    <p><b>Design team</b></p>
    <ul>
      <li>Prepare content for social media on Canva</li>
      <li>Post content on social media on Publer</li>
    </ul>
    <p><b>Conquest team</b></p>
    <ul>
      <li>Contact new students on social media</li>
      <li>Contact new volunteers on social media</li>
    </ul>
    <p><b>Media team</b></p>
    <ul>  
      <li>Write articles for the SupEducation blog on Google Docs</li>
      <li>Review written articles for the SupEducation blog on Google Docs</li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3>Integration department</h3>
    <p>The integration department is divided into 2 teams.</p>
    <p><b>Welcome team</b></p>
    <ul>
      <li>Organize welcome sessions for new members in English on Workplace and Google Meet</li>
      <li>Organize welcome sessions for new members in French on Workplace and Google Meet</li>
      <li>Organize welcome sessions for new members in Arabic on Workplace and Google Meet</li>
    </ul>
    <p><b>Technical support team</b></p>
    <ul>
      <li>Help new members joining the community in English on Telegram</li>
      <li>Help new members joining the community in French on Telegram</li>
      <li>Help new members joining the community in Arabic on Telegram</li>
    </ul>
    <p><b>Moderators team</b></p>
    <ul>
      <li>Moderate the advanced students community in Workplace</li>
      <li>Moderate the intermediate students community in Workplace</li>
      <li>Moderate the beginner students community in Arabic in Workplace</li>
      <li>Moderate the beginner students community in English in Workplace</li>
      <li>Moderate the beginner students community in Spanish in Workplace</li>
    </ul>
  </div>
</section>
<!--
<section class="diagonal patterned">
	<div class="container halves">
	  <div>
<h3 class="editable">
	Faire du bénévolat pour se sentir utile
</h3>
<p class="editable">
	Enseigner le fran&ccedil;ais &agrave; nos apprenants, c'est leur donner plus de chances de r&eacute;ussite dans la vie, faciliter leur recherche d'emploi ou d'&eacute;volution dans leur carri&egrave;re, leur permettre de poursuivre leurs &eacute;tudes en France, et parfois m&ecirc;me de les sortir de l'isolement et de la pr&eacute;carit&eacute;, notamment &agrave; Rennes, o&ugrave; nous menons des actions locales.
</p>
</div>
<div>
<h3 class="editable">
	Faire du bénévolat pour rejoindre une &eacute;quipe g&eacute;niale
</h3>
<p class="editable">
	Avec SupEducation, vous ferez partie d'une &eacute;quipe dynamique, motiv&eacute;e et soud&eacute;e. Chaque membre aura quelque chose d'unique &agrave; vous apporter lorsque vous commencerez &agrave; les conna&icirc;tre. Par ailleurs, c'est nous qui nous adaptons &agrave; vos horaires et pas l'inverse. Avec les diff&eacute;rents fuseaux horaires, il est toujours l'heure d'apprendre le fran&ccedil;ais quelque part dans le monde.
</p>
</div>
<div>
<h3 class="editable">
	Faire du bénévolat pour ma&icirc;triser une nouvelle langue
</h3>
<p class="editable">
	Vous aurez l'occasion de discuter avec des milliers d'apprenants dans le monde. En leur apprenant le fran&ccedil;ais, ils seront ravis de vous enseigner leur langue en retour si vous le souhaitez.
</p>
</div>
<div>
<h3 class="editable">
	Faire du bénévolat pour acqu&eacute;rir de nouvelles comp&eacute;tences
</h3>
<p class="editable">
	Avec SupEducation, nous pouvons vous proposer des missions adapt&eacute;es &agrave; vos comp&eacute;tences ou bien vous former sur les comp&eacute;tences que vous souhaitez d&eacute;velopper. Une exp&eacute;rience b&eacute;n&eacute;vole est reconnue par les employeurs car elle d&eacute;montre de la g&eacute;n&eacute;rosit&eacute; en plus des comp&eacute;tences que vous pourrez mettre en application.
</p>
</div>
<div>
<h3 class="editable">
	Faire du bénévolat parce que c'est amusant
</h3>
<p class="editable">
	Nous ne vous demanderons pas de faire des t&acirc;ches ingrates, elles sont automatis&eacute;es &agrave; l&rsquo;aide de l&rsquo;informatique. Nous nous efforcerons &agrave; vous proposer des missions int&eacute;ressantes et amusantes adapt&eacute;es &agrave; vos envies.
</p>
</div>
<div>
<h3 class="editable">
	Faire du bénévolat pour voyager
</h3>
<p class="editable">
	Avec le d&eacute;veloppement de SupEducation, nous esp&eacute;rons pouvoir proposer prochainement des missions &agrave; l'&eacute;tranger, et rejoindre l'association maintenant, c'est s'assurer d'&ecirc;tre parmi les premiers &agrave; y participer.
</p>
</div>
	</div>
</section>
-->
<!--
<section class="diagonal alternate" id="formulaire-benevole">
	<div class="container">
    {% for mission in site.missions %}
    {% for category in mission.categories %}
      {% assign name = category[0] %}
		  {% assign posts = category[1] %}
		  {% assign size = posts | size %}
      <h4>{{ name }}</h4>
      <div class="staff">
        {% for author in posts limit: 4 %}
        <p><a href="{{ author.url }}">
        <div class=staff-card>
          <div class="staff-card-image"><img src="{% include relative-src.html src=author.image_path %}" alt="{{ author.name }}"/></div>
          <div class="staff-card-name"><p>{{ author.name }}</p></div> 
          <div class="staff-card-position"><p>{{ author.description }}</p></div>
        </a></p>
        </div>
        {% endfor %}
        {% if size > 4 %}
					<p>More...</p>
				{% endif %}
    </div>
    {% endfor %}
    {% endfor %}
	</div>
</section>

<section class="diagonal patterned" id="formulaire-benevole2">
	<div class="container">
    {% for mission in site.missions where mission.categories contains Design  %}
    {% for category in mission.categories %}
      {% assign name = category[0] %}
		  {% assign posts = category[1] %}
		  {% assign size = posts | size %}
      <h4>{{ name }}</h4>
      <div class="staff">
        {% for author in posts limit: 4 %}
        <p><a href="{{ author.url }}">
        <div class=staff-card>
          <div class="staff-card-image"><img src="{% include relative-src.html src=author.image_path %}" alt="{{ author.name }}"/></div>
          <div class="staff-card-name"><p>{{ author.name }}</p></div> 
          <div class="staff-card-position"><p>{{ author.description }}</p></div>
        </a></p>
        </div>
        {% endfor %}
        {% if size > 4 %}
					<p>More...</p>
				{% endif %}
    </div>
    {% endfor %}
    {% endfor %}
	</div>
	
	-->